@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Open+Sans&display=swap');

:root {
    --winter-bg-color: rgb(191, 216, 231);

    --summer-bg-color: rgb(238, 238, 217);

    --autumn-bg-color: rgb(219, 210, 198);

    --spring-bg-color: rgb(202, 228, 217);

    --almost-black-color: rgb(50, 50, 50);

    --header-font: 'Bitter', serif;
    --paragraph-font: 'Open Sans', sans-serif;
}