html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  transition: background-color 0.5s ease-in-out;
  text-align: center;
}

body[data-theme="winter"] {
  background-color: var(--winter-bg-color);
}
body[data-theme="summer"] {
  background-color: var(--summer-bg-color);
}
body[data-theme="autumn"] {
  background-color: var(--autumn-bg-color);
}
body[data-theme="spring"] {
  background-color: var(--spring-bg-color);
}

h1,
h2 {
  font-family: var(--header-font);
  color: var(--almost-black-color);
}

h3,
p,
input,
label,
ul {
  font-family: var(--paragraph-font);
  color: var(--almost-black-color);
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

.input-group {
  padding: 0;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media screen and (max-width: 300px) {
  body {
    transform: scale(10vw);
  }
}
